<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<a class="loginLink" routerLink="">
  <span class="material-symbols-outlined">
    home
  </span>
</a>
<form class="loginForm">
  <h1 class="loginText">LOGIN</h1>
  <div class="inputBox">
    <div class="form__group field">
      <input [(ngModel)]="mail" type="input" class="form__field" placeholder="mustermail@gmail.com" name="mail" id='mail' required/>
      <label for="mail" class="form__label">E-Mail</label>
    </div>
    <br>
    <div class="form__group field">
      <input [(ngModel)]="password" type="input" class="form__field" placeholder="password" name="password" id='password' required/>
      <label for="password" class="form__label">Password</label>
    </div>
    <button (click)="submit()" class="submitButtonLogin" type="submit" placeholder="Login">Sign In</button>
    <p>Not registered yet? <a routerLink="../register" class="signUpLink">Sign Up here!</a></p>
  </div>
</form>
