<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

<style>
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
</style>



<div class="navBar">
  <img routerLink="" id="logoPicture" src="../../assets/Logo.svg" alt="logo">
  <div class="linkContainer">
    <a class="navLink" routerLink="" alt="test">About</a>
    <a class="navLink" routerLink="data" alt="test">Calculation</a>
    <a class="navLink" routerLink="account" alt="test">Account</a>
    <a class="navLink" routerLink="team" alt="test">Team</a>
    <a class="navLink" routerLink="login" alt="test">Login</a>
  </div>
</div>
