/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.03vw;
}

body {
  background-color: var(--backgroundBeige);
}

:root {
  --pink1: #F06B6B;
  --pink2: #b75353;
  --blue1: #85aecc;
  --backgroundBeige: #F5EFE6;
  --lightGreen1: #8DC284;
  --lightGreen2: #6D8B74;
  --darkgreen1: #386543;
}

p {
  font-size: 2vh;
}

h1 {
  font-weight: bolder;
}

.form-container {
  display: block;
  max-width: 300px;
  margin: auto;

  background: #eceff1;
  padding: 48px;
  border-radius: 16px;

  mat-form-field {
    width: 100%;
  }

}

.center {
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 16px !important;
}

.text-center {
  text-align: center;
}

