<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="wrapper" id="oneHead">
  <div class="sectionHead" id="one">
    <div>
      <ul id="nav">
        <li class="li" *ngIf="user == null" routerLink="login">Login</li>
        <li class="li" *ngIf="user == null" routerLink="register">Sign-up</li>
        <li class="li" *ngIf="user != null" routerLink="account">Account</li>
      </ul>
    </div>

    <h1 id="h1"><span class="span">Check your <br> </span>Emissions <span class="span"> with <br></span><img id="Logo" src="assets/Group%201.svg"></h1>
    <div id="searchFlightBox">
      <input placeholder="Flight-number" [(ngModel)]="inputFlight" id="input">
      <button [disabled]="inputFlight==''" (click)="getFlightWithNumber()" class="button">Search</button>
    </div>
    <div class="right">


        <label for="image" class="custom-file-upload">
          <i class="material-icons" style="font-size: 4vh; height: 4vh; width: 4vh;">cloud_upload</i> <p >Upload Image</p>
        </label>
        <input id="image" style="display: none" type="file" (change)="onFileChanged($event)" #fileInput/>

      <!--<canvas id="canvas" #canvas></canvas>-->
      <h3 id="file-status">{{statusOfImageUpload}}</h3>
      <table class="inputSearch">
          <div id="destination">
            <th><label>Start</label></th>
            <th><label>End</label></th>
          </div>
          <tr>
            <td>
              <div class="route">
                <input [(ngModel)]="fromLocation" class="inputRoute">
              </div>
            </td>
            <td><button id="switchButton" (click)="switch()">Switch</button></td>
            <td>
              <div class="route">
                <input [(ngModel)]="toLocation" class="inputRoute">
              </div>
            </td>
          </tr>
      </table>
      <button id="button2" (click)="searchByLocations()">Search</button>
    </div>
<p style="color:rgba(0,0,0,0)">f</p>
    <div  class="navigationButtons" id="navigationOne"><!--[hidden]="hideButtons"-->
      <a href="#two"><span style="font-size: 8rem; color: #fff; margin-top: 1vh; z-index: 100" id="arrow-down" class="material-icons">expand_more</span></a>
    </div>
    <p style="color:rgba(0,0,0,0)">f</p>
    <p style="color:rgba(0,0,0,0)">f</p>
    <p style="color:rgba(0,0,0,0)">f</p>
    <p style="color:rgba(0,0,0,0)">f</p>
    <p style="color:rgba(0,0,0,0)">f</p>
  </div>

  <div class="section" id="two">
    <div class="subSection1">
      <!-- <div class="data" [hidden]="hideDetails"> -->
      <div class="data">
        <div id="flight" *ngIf="!ifNan(trees)">
          <h1 id="h1Flight">Details for the flight: <br>{{lastSearch}}</h1>
          <p>From {{departureStation}} | {{departureCountry}}</p>
          <p>To {{arrivalStation}} | {{arrivalCountry}}</p>
          <p>Duration of the flight: {{timeDiffStr}}</p>
          <p>Distance: {{distance}} km</p>
          <p>Emissions: {{emissions}} tons Co2</p>
          <p>Trees: {{trees}} beech</p>
          <div id="treeBox">
            <p *ngFor="let tree of treeVis;let x = index">{{tree}}</p>
            <!-- <p *ngIf="x%10==0"><br></p> -->
          </div>
          <p>{{countdown}}</p>
        </div>
        <div id="flight2" *nfIf="arrivalStation==null">
          <h1 id="h1Flight2">Details for the flight: <br>There are no details</h1>
        </div>
      </div>
    </div>


    <div class="subSection2">
      <img class="icon" src="../../assets/plane-2.svg">
    </div>
    <!-- <div id="gif">
      <ng-lottie [options]="flugzeug"></ng-lottie>
      <ng-lottie [options]="bicycal"></ng-lottie>
      <ng-lottie [options]="car"></ng-lottie>
    </div> -->

    <div class="navigationButtons" id="navigationTwo">
      <a href="#oneHead"><span style="font-size: 7vh" class="material-icons">expand_less</span></a>
      <a href="#three"><span style="font-size: 7vh" class="material-icons">expand_more</span></a>
    </div>
  </div>
  <div class="section" id="three">
    <div class="subSection1" id="colorSection1">
      <img class="icon" src="../../assets/car_1.svg">
    </div>
    <div class="subSection2" id="colorSection2">
      <div id="dataCar">
        <div id="car">
          <h1>Car</h1>
          <p>Duration: {{durationCar.split(":")[0]}} Hours, {{durationCar.split(":")[1]}} Minutes</p>
          <p>Path: {{wegAuto}}km</p>
          <p>Fuel: {{fuelUsed}} Liter</p>
          <p>Emissions: {{carEmissions}} kilogram Co2</p>
          <p>Trees: {{carEmissionTrees}} beech</p>
        </div>
      </div>
    </div>

    <div class="navigationButtons" id="navigationThree">
      <a href="#two"><span style="font-size: 7vh" class="material-icons">expand_less</span></a>
      <a href="#four"><span style="font-size: 7vh" class="material-icons">expand_more</span></a>
    </div>
  </div>
  <div class="section" id="four">
    <div class="subSection1">
      <div id="dataBycicle">
        <div id="fahrrad">
          <h1>Bicycle</h1>
          <p>Duration: {{durationBicycle.split(":")[0]}} Hours, {{durationBicycle.split(":")[1]}} Minutes</p>
          <p>Path: {{wegBicycle}}km</p>
          <p>🍕You could eat <b>{{pizzen}}</b> salami pizzas by choosing the bicycle🍕</p>
        </div>
      </div>
    </div>
    <div class="subSection2" id="subSection2_1">
      <img class="icon" src="../../assets/bike.svg">
    </div>

    <div class="navigationButtons" id="navigationFour">
      <a href="#three"><span style="font-size: 7vh" class="material-icons">expand_less</span></a>
      <a href="#five"><span style="font-size: 7vh" class="material-icons">expand_more</span></a>
    </div>
  </div>
  <div class="section" id="five">

    <div class="navigationButtons" id="navigationFive">
      <a href="#four"><span style="font-size: 7vh" class="material-icons">expand_less</span></a>
      <span style="font-size: 7vh; color: grey" class="material-icons">expand_more</span>
    </div>
  </div>
</div>
