* {
  padding: 0;
  margin: 0;
}

#h1 {
  font-size: 6rem;
  font-family: "Poppins";
  -webkit-text-stroke-width: 2px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  font-weight: bold;
  margin-top: -20vh;
}

#h1Flight {
  font-family: "Poppins";
}

.span {
  font-size: 6rem;
  font-family: "Poppins";
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: rgba(0, 0, 0, 0);
  text-align: center;
  font-weight: bold;
}

#wrapFlex {

}

#input {
  margin-left: auto;
  margin-top: 4vh;
  width: 7vw;
  border: none;
  text-align: center;
  border-radius: 7px;
}

.button {
  width: 10%;
  background-color: #fff;
  border: none;
  color: #000;
  margin-left: 1%;
  margin-right: auto;
  margin-top: 4vh;
  height: 4vh;
  width: 7vw;
  font-family: "Poppins";
  font-weight: bold;
  border-radius: 7px;
}

#searchFlightBox {
  width: 80%;
  height: 8vh;
  display: flex;
  flex-direction: row;
}

#car {
  padding: 1%;
  border-bottom: #FFB703 solid 10px;
}

#dataCar {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: #FFB703 10px solid;
  font-family: "Poppins";
}

#colorSection1 {
  background-color: #023047;
}

#colorSection2 {
  background-color: #fff;
}

#flight {
  padding: 1%;
  border-bottom: #023047 solid 10px;
}

.icon {
  width: 40%;
  margin-left: 30%;
  margin-top: 30%;
}

.wrapper {

}

.section {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
      ". .";
}

.sectionHead {
  width: 100vw;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#one {
  background-image: linear-gradient(hsla(215, 30%, 70%, 0.9) 0%, #219EBC 80%, hsla(215, 30%, 70%, 0.9) 100%),
  linear-gradient(to right, #8ECAE6 30%, #8ECAE6 50%, #8ECAE6 70%);
}

#two {
  background-color: green;
}

#three {
  background-color: blue;
}

#four {
  background-color: rebeccapurple;
}

#five {
  background-color: aquamarine;
}

.subSection1 {
  background-color: #fff;
  font-family: "Poppins";
}

.subSection2 {
  background-color: #8ECAE6;
}

#subSection2_1 {
  background-color: #219EBC;
}

#dataBycicle {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: #FB8500 10px solid;
  font-family: "Poppins";
}

#fahrrad {
  padding: 1%;
  border-bottom: #FB8500 solid 10px;
}

.subSectionHead1 {
  background-color: aquamarine;
}

.data {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: #023047 10px solid;
}

.subSectionHead2 {
  background-color: blue;
}

.navigationButtons {
  margin-left: auto;
  margin-right: auto;
}

#nav {
  display: flex;
  font-family: "Poppins";
  position: absolute;
  right: 0vw;
  font-size: 1.5rem;
  width: 14%;
  top: 3vh;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.li {
  margin-left: 10%;
  text-decoration: none;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  transition: border-bottom-color 0.3s ease-in;
}

.li:hover {
  border-bottom-color: black;
}

.navigationButtons {
  height: 10vh;
}

#navigationOne {
  position: absolute;
  bottom: 15vh;
  right: 47%;
}

#navigationTwo {
  position: absolute;
  bottom: -92vh;
  right: 2vw;
}

#navigationThree {
  position: absolute;
  bottom: -192vh;
  right: 2vw;
}

#navigationFour {
  position: absolute;
  bottom: -292vh;
  right: 2vw;
}

#navigationFive {
  position: absolute;
  bottom: -392vh;
  right: 2vw;
}

#five {
  background-image: linear-gradient(hsla(215, 30%, 70%, 0.9) 0%, #219EBC 80%, hsla(215, 30%, 70%, 0.9) 100%),
  linear-gradient(to right, #8ECAE6 30%, #8ECAE6 50%, #8ECAE6 70%);
}

.right {
  margin-top: 5vh;
}

.fileWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 8vw;
  padding: 1%;
}

.custom-file-upload {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  cursor: pointer;
}

