<app-header></app-header>

<p>main works!</p>
<button (click)="getFlight('AA6')">test</button>
<p>From {{departureStation}} | {{departureCountry}}</p>
<p>To {{arrivalStation}} | {{arrivalCountry}}</p>
<p>Dauer des Flugs: {{timeDiffStr}}</p>

<hr>

<h1>Auto</h1>
<p>Dauer: {{durationCar | date: 'hh:mm:ss'}}</p>
<p>Weg: {{wegAuto}}</p>
<p>Sprit: {{fuelUsed}}</p>


<hr>

<h1>Fahrrad</h1>
<p>Dauer: {{durationBicycle}} hh:mm:ss</p>
<p>Weg: {{wegBicycle}}</p>

<input id="Flugnummer" type="text" [(ngModel)]="inputText">
<button (click)="getFlightWithNumber()">Submit</button>
<app-footer></app-footer>

