<app-header></app-header>

<input placeholder="Flugnummer" [(ngModel)]="inputFlight" id="input">

<button [disabled]="inputFlight==''" (click)="getFlightWithNumber()" id="button">test</button>

<div class="data" style="display: flex; flex-direction: row; width: 90%; margin-top: 10%; margin-left: auto; margin-right: auto" [hidden]="hideDetails">
  <div id="flight">
    <h1>Details for flight: {{lastSearch}}</h1>
    <p>From {{departureStation}} | {{departureCountry}}</p>
    <p>To {{arrivalStation}} | {{arrivalCountry}}</p>
    <p>Dauer des Flugs: {{timeDiffStr}}</p>
    <p>Distanz: {{distance}} km</p>
    <p>Emissionen: {{emissions}} kg Co2</p>
  </div>

  <div id="car">
    <h1>Auto</h1>
    <p>Dauer: {{durationCar | date: 'hh:mm:ss'}}</p>
    <p>Weg: {{wegAuto}}</p>
    <p>Sprit: {{fuelUsed}}</p>
  </div>

  <div id="fahrrad">
    <h1>Fahrrad</h1>
    <p>Dauer: {{durationBicycle}} hh:mm:ss</p>
    <p>Weg: {{wegBicycle}}</p>
  </div>

</div>
<app-footer></app-footer>